/* Animação deslisar para direita */
@keyframes slide-to-right {
    from {
        transform: translateX(-5vw);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 100%;
    }
}

/* Animação deslisar para cima */
@keyframes slide-to-top {
    from {
        transform: translateY(5vw);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 100%;
    }
}

/* animação de rotação 360º */
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}

/* animação de de progresso do stories */
@keyframes thumb {
    to {
        transform: initial;
    }
}
