@import url("https://use.typekit.net/gvo6ejr.css");
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url("https://use.typekit.net/oqh1shf.css");

:root{
    --first-color:#F26D85;
    --second-color:#F2F2F2;
    --third-color:#BF69B1;
    --fourth-color:#D4ADD9;
    --fifth-color:#D9B8B8;
    --clean-color:#ffffff;
    --dark-color:#585858;

    --font-destaque: "miller-display", serif;
    --font-destaque-2: "Sacramento", "cursive";
    --second-font: "neuzeit-grotesk-condensed", sans-serif;;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    background-color: var(--contrast-color);
    color: var(--fourth-color);
    padding: 1rem;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-family: var(--font-destaque-2);
    font-size: 3rem;
    font-weight: 100;
    line-height: 50px;
}

p {
    font-family: var(--font-destaque);
    font-size: 1.2rem;
    line-height: 30px;
}


body{
    display: flex;
    flex-direction: column;
    width: 100vw;
}

strong {
    font-size: 1.2rem;
    color: var(--first-color);
}