.fourth-page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 3rem;
    gap: 2rem;
}

.container-bolsa-praia-miu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 100%;
    gap: 2rem;
}

.img-bolsas{
    width: 400px;
    border-radius: 30px;
}

.container-bolsa-praia-miu p {
    max-width: 50%;
    text-align: start;
}

.container-bolsa-praia-duo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    gap: 2rem;
}

.container-bolsa-praia-duo p {
    max-width: 50%;
    text-align: start;
}