.fourth-page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container-bolsa-praia-miu{
 display: grid;
 padding: 30px 0 30px 0;
 gap: 20px;
 align-self: center;
 justify-items: center;
 text-align: center;
 width: 50%;
 height: 100%;
 background-image: url(/assets/img/logos/folhas-background.png);
 background-color: var(--fifth-color);
}

.img-01{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    max-height: 500px;
    border-radius: 50% 50% 3px 3px;
    overflow: hidden;
}
.img-01 img{
    object-fit: cover;
}

.container-bolsa-praia-miu h2{
    top: 10px; /*VERIFICAR ESSA LINHA, ACHO QUE ELA É IRRELEVANTE*/
    transform: translateY(-55px);
    font-size: 9rem;
    line-height: 30px;
    color: var(--third-color);
}

/* Span para estilizar apenas o nome "Bolsa" nos títulos */
.small-name-bolsa{
    font-size: 3rem;
}

.container-bolsa-praia-miu p {
    color: var(--dark-color);
    max-width: 50%;
    text-align: start;
}

.container-bolsa-praia-miu a{
    background-color: var(--dark-color);
    color: var(--clean-color);
}

/* Início do segundo produto */

.container-bolsa-praia-duo{
    display: grid;
    padding: 30px 0 30px 0;
    gap: 20px;
    align-self: center;
    justify-items: center;
    text-align: center;
    width: 50%;
    height: 100vh;
    background-color: var(--dark-color);
}

.img-02{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    max-height: 500px;
    border-radius: 50% 50% 3px 3px;
    overflow: hidden;
}

.img-02 img{
    object-fit: cover;
    
}

.container-bolsa-praia-duo h2{
    top: 10px;
    transform: translateY(-55px);
    font-size: 9rem;
    line-height: 30px;
    color: var(--clean-color);
}


/* Span para estilizar apenas o nome "Bolsa" nos títulos */
.small-name-bolsa{
    font-size: 3rem;
}

.container-bolsa-praia-duo p {
    color: var(--clean-color);
    max-width: 50%;
    text-align: start;
}

.container-bolsa-praia-duo a{
    background-color: var(--third-color);
    color: var(--clean-color);
}

@media (max-width: 400px) {
    .fourth-page{
        flex-direction: column;
        width: 100vw;
        height: auto;
    }

    .container-bolsa-praia-miu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        background-color: var(--fifth-color);
       }
    .img-01{
        max-width: 100%;
        max-height: 400px;
        border-radius: 50% 50% 3px 3px;
        overflow: hidden;
    }
    .img-01 img{
        width: 100%;
        object-fit: cover;
    }

    .container-bolsa-praia-miu h2{
        transform: none;
        font-size: 3rem;
    }
     
    .container-bolsa-praia-miu p {
        max-width: 90%;
        text-align: center;
    }




    .container-bolsa-praia-duo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        background-color: var(--dark-color);
    }

    .img-02{
        max-width: 100%;
        max-height: 400px;
        border-radius: 50% 50% 3px 3px;
        overflow: hidden;
    }
    .img-02 img{
        width: 100%;
        object-fit: cover;
    }

    .container-bolsa-praia-duo h2{
        transform: none;
        font-size: 3rem;
        line-height: 40px;
    }
     
    .container-bolsa-praia-duo p {
        max-width: 90%;
        text-align: center;
    }


}