.sixth-page{
    display: flex;
    width: 100vw;
    height: auto;
    justify-content: center;
    align-items: center; 
    background-color: var(--fifth-color);
}

.content-sixth-page{
    display: flex;
    width: 100vw;
    height: 100%;
}

.img-sixth-page{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 50%;
    padding: 30px;
    gap: 20px;
    background-color: var(--first-color);
}

.img-main-sixth-page {
    grid-column: 1/3;
    grid-row: 1/2;
    border-radius: 10px;
    overflow: hidden;
}

.img-main-sixth-page img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.second-img-sixth-page{  
    grid-column: 2/4;
    grid-row: 2/4;
    border-radius: 10px;
    overflow: hidden;
}

.second-img-sixth-page img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.container-information{
    display: flex;
    flex-direction: column;
    gap: 30px;

}


.name-description{
    text-align: start;
}

.name-description p {
    font-size: 1rem;
    color: var(--first-color);
}


.details {
    text-align: start;
}

.info-p h3{
    font-size: 2.5rem;
    
}

.info-p p{
    font-size: 1rem;
    color: var(--first-color);
}

.info-m h3{
    font-size: 2.5rem;
    
}

.info-m p{
    font-size: 1rem;
    color: var(--first-color);
}

.info-g h3{
    font-size: 2.5rem;
    
}

.info-g p{
    font-size: 1rem;
    color: var(--first-color);
}


.anchor a {
    color: var(--clean-color);
    background-color: var(--first-color);

}

@media (max-width: 400px) {
    .sixth-page{
        width: auto;
    }

    .content-sixth-page{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 0px 30px 0px;
        gap: 20px;
    }

    .img-sixth-page{
        flex-direction: column;
        display: flex;
        width: 100%;
        padding: 0;
    }

    .second-img-sixth-page{
        display: none;
    }
    
    
}